

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;    
    background-color: black;
    height: 10vh;
    border-bottom: 2px solid white;
    

}

.navigation a{
    text-decoration: none;
    font-size: 25px;
}
.main-container{
     display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    }


    @media (max-width: 600px){
        .navigation {
           justify-content: space-evenly;
           
        }  

        .navigation a{
            font-size: 17px;
            
         } 
    }