<h1>Harry Potter</h1>

<div>
  <div>
    <div class="container">
      <div class="container-content">
        <h2>Author: J.K.Rowling</h2>
        <img alt="j.k.rowling picture" src="../../assets/jkrowling.jpg" />
      </div>

      <div class="container-content2">
        <p>J.K Rowling was born in July 31 of 1965</p>
        <p>kkkkkk</p>
        <p></p>
        <p>kkkk</p>
        <p>llll</p>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="container-content">
        <h2>Hogwarts School of Witchcraft and Wizardry</h2>
        <img alt="hogwarts picture" src="../../assets/hogwarts.jpg" />
      </div>

      <div class="container-content2">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="container-content">
        <h2>Headmaster of Hogwarts: Albus Dumbledore</h2>
        <img alt="dumbledore picture" src="../../assets/dumbledore.jpg" />
      </div>
      <div class="container-content2">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>
